<h1>Detail</h1>
<h2>{{ article.title }}</h2>


<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>image</th>
        <th>price</th>
        <th>quantity</th>
    <tr>
    <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.title }}</td>
        <td>
            {% if article.image %}
                <img height="200" width="200" src="{{article.image.url}}" alt="">
            {% endif %}
        </td>
        <td>{{ article.price }}</td>
        <td>{{ article.quantity }}</td>
    </tr>
</table>

{% if article.quantity > 0 %}

    <form method="POST" action="/{{article.id}}/buy/">
        {% csrf_token %}

        <input name="quantity" type="number" min="1" max="{{article.quantity}}">
        <button type="submit">Buy</button>
    </form>
{% else %}
    <p>Out of stock</p>
{% endif %}

<a href="/">Retour</a>