{% extends "base.html"%}

{% block navButton %}
<a href="/create" class="text-base font-medium text-gray-500 hover:text-gray-900"> Create a product</a>
<a href="/messenger" class="text-base font-medium text-gray-500 hover:text-gray-900"> Messenger</a>
{% endblock %}

{% block navButtonMobile %}
<a href="/create" class="ml-3 text-base font-medium text-gray-900"> Create a product </a>
<a href="" class="ml-3 text-base font-medium text-gray-900"> Messenger </a>
{% endblock %}

{% block content %}
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Product List</h2>
  
      <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {% if articles %}
            {% for article in articles %}
            <div class="group relative">
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                <img src="{{article.image.url}}" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
            </div>
            <div class="mt-4 flex justify-between">
                <div>
                <h3 class="text-sm text-gray-700">
                    <a href="/{{article.id}}">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{ article.title }}
                    </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{ article.description }}</p>
                </div>
                <p class="text-sm font-medium text-gray-900">${{ article.price }}</p>
            </div>
            </div>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">No articles</td>
        </tr>
        {% endif %}
  
        <!-- More products... -->
      </div>
    </div>
</div>
{% endblock %}